
.rz-dialog-content {
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
}

.list-span-fix div ul li span {
    height:100%;
    width:100%;
}

.migrations-to-apply-card {
    width: fit-content;
}

.testing-connection-card {
    width: 100%;
    max-width: 800px;
}